@media screen and (max-width: 760px) {

    header{
        
        font-size: 16px;
        display: none;           
            
     }
    
    main{
        flex-direction: column;
        text-align: center;       
      
    }
    
    h1{
        font-size: 2px;
    }  

    p{
        font-size: 22px;
    }

    a{
        font-size: 25px;
    }
   

    img{
        margin-top: 50px;
        height: 250px;
    }

}


@media screen and (max-width: 550px) {

    header{
        
        display: none;           
            
     }
    
    main{
        flex-direction: column;
        text-align: center;       
      
    }
    
    h1{
        font-size: 20px;
        
    }  

    p{
        font-size: 16px;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 50px;
               
    }

    a{
        font-size: 25px;          
    }
   

    img{
        margin-top: 50px;
    }

}




